@import "tailwindcss";

:root {
  --background: #DDDDDD;
  --foreground: #000000;

  --brand-primary: #023C2D;
  --brand-secondary: #E2BA7B;

  --gray-100: #F8F8F8;
  --gray-200: #EEEEEE;
  --gray-300: #DDDDDD;
  --gray-500: #CCCCCC;
  --gray-600: #939393;
  --gray-700: #5A5A5A;
  --gray-900: #212121;

  --secondary-green: #2A7E67;
  --secondary-orange: #CF5C36;
  --secondary-orange: #816C4B;
}

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-900: var(--gray-900);
  --color-secondary-green: var(--secondary-green);
  --color-secondary-orange: var(--secondary-orange);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DDDDDD;
    --foreground: #000000;

    --brand-primary: #023C2D;
    --brand-secondary: #E2BA7B;

    --gray-100: #F8F8F8;
    --gray-200: #EEEEEE;
    --gray-300: #DDDDDD;
    --gray-500: #CCCCCC;
    --gray-600: #939393;
    --gray-700: #5A5A5A;
    --gray-900: #212121;

    --secondary-green: #2A7E67;
    --secondary-orange: #CF5C36;
    --secondary-orange: #816C4B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}